{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(formCategory) }}
    {{ form_row(formCategoryMa }}
    <button type="submit" name="btnValid">Valider</button>
    {{ form_end(formCategory) }}

{% endblock %}