{%  extends 'base.html.twig' %}

{% block body %}

    <h1>All articles from : </h1>
    {% for article in articles %}
        <div>
            <h2>{{ article.id }} / {{ article.title }} - Category : {{ article.category.name }}</h2>
            <p>{{ article.content }}</p>
        </div>
    {% endfor %}
{% endblock %}
